body{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;    
    background-color: rgb(201, 208, 219);
}


img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    box-shadow: 5px 10px #888888;
}

ul {
    background-color: aliceblue;
    max-width: 550px;
    text-align: left;
    display: table; 
    margin: 0 auto;
    line-height: 3.5; 
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

#quote{
    font-size: 25px;
}